<ion-header>

  <ion-navbar secondary>
    <ion-title>{{detalle.nombrerecurso}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <center *ngIf="distancia">
    <div>
      <p>Distancia actual (Aprox.)</p>
      <h1>
        {{distancia | number: '.3-3'}} metros
      </h1>
      <h5>
        {{(distancia / 1000) | number: '.3-3'}} Km
      </h5>
    </div>
    <span *ngIf="direccion">{{ direccion | number }} °</span>
  </center>

  <ion-list>
    <ion-list-header>
      Detalle
    </ion-list-header>
    <ion-item *ngIf="detalle.descripcion">{{detalle.descripcion}}</ion-item>
    <ion-item *ngIf="detalle.numbloque !== 0">Bloque {{detalle.numbloque}}</ion-item>
    <ion-item *ngIf="detalle.numpiso !== 0">Piso #{{detalle.numpiso}}</ion-item>
    <ion-item *ngIf="detalle.tiporecurso">Tipo {{detalle.tiporecurso}}</ion-item>

    <ion-list-header>
      Telemetría
    </ion-list-header>
    <ion-item *ngIf="posicion">Latitud {{posicion.latitude}}</ion-item>
    <ion-item *ngIf="posicion">Longitud {{posicion.longitude}}</ion-item>
    <ion-item *ngIf="velocidad">Velocidad {{velocidad}}</ion-item>
    <ion-item *ngIf="altitud">Altitud {{altitud}}</ion-item>
  </ion-list>
</ion-content>
