<ion-header>

  <ion-navbar secondary>
    <ion-title>{{detalle.nombrerecurso}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div class="loading-page">
    <div class="counter">
      <p>Distancia actual</p>
      <h1>{{distancia | number: '.3-3'}}
        mts
      </h1>
      <h5>{{(distancia / 1000) | number: '.3-3'}}
        Km</h5>
    </div>
  </div>

  <ion-list>
    <ion-list-header>
      Detalle
    </ion-list-header>
    <ion-item>{{detalle.descripcion}}</ion-item>
    <ion-item *ngIf="detalle.numbloque != 0">Bloque {{detalle.numbloque}}</ion-item>
    <ion-item *ngIf="detalle.numpiso != 0">Piso #{{detalle.numpiso}}</ion-item>
    <ion-item>Tipo {{detalle.tiporecurso}}</ion-item>
  </ion-list>
</ion-content>
