// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import "globals.core";

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary: #007aff,
  secondary: #32db64,
  danger: #f22613,
  light: #f4f4f4,
  dark: #222,
  favorite: #69BB7B,
  stable: #F4F5F7,
  positive: #198DE0,
  calm: #5B99FE,
  balanced: #4C9689,
  energized: #FDAC51,
  assertive: #E86244,
  royal: #4D394B,
  //dark: #2B3541,
  //colorselect: #f22613
  //colorselect: #F4F5F7
  //colorselect: #d91e18,
  azul: #00a7d0,
  badgemap: #14aed4,
  badgestar: #fdac51
);

$menu-width: 240px;

.opaque {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.opaque .toolbar-background {
  background-color: rgba(#f8f8f8, 0.55);
}
