<ion-header class="opaque">

  <ion-navbar primary no-border-bottom>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title no-border-bottom>Dashboard</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top no-border-bottom primary>
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)" placeholder="Buscar por nombre, descripción..." class="ios"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list [virtualScroll]="ListRecursosFisicos">
    <ion-item *ngIf="ListRecursosFisicos.length === 0">
      <ion-icon name="alert" item-left large royal></ion-icon>
      <h2>Sin resultados</h2>
    </ion-item>

    <ion-item-sliding *virtualItem="let item">
       <ion-item (click)="openDetalle(item)">
        <ion-icon [name]="iconify(item.tiporecurso)" item-left large royal></ion-icon>
        <h2>{{item.nombrerecurso}}</h2>
        <h3 *ngIf="item.numbloque != 0">Bloque {{item.numbloque}}</h3>
        <p>{{item.descripcion}}</p>
      </ion-item>

      <ion-item-options side="right" *ngIf="online == true" >
        <button primary (click)="selectMap(item)">
          <ion-icon ion-icon-star name="pin"></ion-icon>
          Mapa
        </button>
        <button secondary (click)="openDetalle(item)">
          <ion-icon name="bookmark"></ion-icon>
          Detalles
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
