<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ detalle.nombrerecurso? detalle.nombrerecurso: 'Detalle' }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <div *ngIf="distancia" style="text-align: center">
      <h1>{{ distancia }}</h1>
      Distancia aproximada en metros
      <br/>
      <br/>
    </div>
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/images/reuniones.jpg">
      </ion-avatar>
      <h2>{{ detalle.nombrerecurso }}</h2>
      <p>{{ detalle.numbloque != 0? 'Bloque ' + detalle.numbloque: 'Edificio' }}</p>
    </ion-item>

    <ion-card-content>
      <p>
        {{ detalle.descripcion }}
        <br>
        <ion-badge *ngIf="detalle.numbloque != 0" item-right>Bloque {{ detalle.numbloque }}</ion-badge>
        <ion-badge item-right color="secondary">Piso {{ detalle.numpiso }}</ion-badge>
        <ion-badge item-right color="danger">{{ detalle.tiporecurso }}</ion-badge>
      </p>
    </ion-card-content>
  </ion-card>
  <!--
  <button (click)="openMapa()" ion-button color="secondary" outline full>Ver mapa</button>
  -->
</ion-content>
