page-estacione-detalle {
  .header-image {
    background-image: url('../assets/images/rio.jpg');
    height: 40vh;
  }
  .main-content {
    padding: 20px;
    background-color: white;
  }
}

.card-md h1 {
  margin: auto 0;
  text-align: center;
  font-size: 7.4rem;
  font-weight: normal;
  color: #222;
  font-family: fantasy;
}
