.intro {

}

/*
ion-slide {
    background-color: #32db64;
}


ion-slide img {
    height: 60vh !important;
    width: auto !important;
}

*/
.logo {
    height: 40vh !important;
    width: auto !important;
}
